:root {
    --primary: #71CABC;
    --secondary: #003D42;
    --error: #ce0606;
    --salmon: #F58D75;
    --white: #ffffff;
}

@font-face {
    font-family: 'silver_south_scriptregular';
    src: url('assets/fonts/silver_south_script-webfont.woff2') format('woff2'),
        url('assets/fonts/silver_south_script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    scroll-behavior: smooth;
}

h1,
h1 span,
.chose-us-area .info li .info::after {
    color: var(--primary);
}

h2 span {
    font-family: 'silver_south_scriptregular';
    font-size: 3em;
}

h2.header span {
    font-size: 1em;
    padding-top: 10px;
    color: var(--primary);
}

p {}

.btn-theme,
nav.navbar .quote-btn a {
    background-color: var(--salmon);
    border: 2px solid var(--salmon);
}

.btn-theme:hover,
nav.navbar .quote-btn a:hover,
.btn-theme.effect:hover,
.btn-theme.effect:focus {
    background-color: #CC7562;
    border-color: #CC7562;
}

.doctor-items .thumb .overlay i {
    background: var(--primary);
}

.doctor-items .info h5,
.site-heading h2 span,
.testimonial-items .item::after {
    color: var(--primary);
}

.site-heading h2::after,
.department-tabs .tab-content .opening-info h4::after {
    background: var(--primary) none repeat scroll 0 0;
}

.doctor-items .info {
    border-top: 2px solid var(--primary);
}

.view-bio-btn,
button {
    border: 2px solid var(--primary);
    background: transparent;
    padding: 10px 35px;
    margin-top: 15px;
    font-family: 'Avenir', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    color: #232323;
    background: transparent;
}

.view-bio-btn:hover,
button:hover,
.doctor-items .social li a:hover {
    background: var(--primary);
}

.social ul {
    margin: 0;
}

.testimonial-items .item::after {
    top: -36px;
}

#checkout-products {
    list-style: none;
}

.department-tabs .tab-content .opening-info li {
    margin-bottom: 0;
}

.modal-outer {
    display: grid;
    /*background: hsla(50, 100%, 50%, 0.7);*/
    background: hsla(0, 0%, 50%, 0.7);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    /* Hide this modal until we need it */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
}

.modal-outer img {
    width: 100%;
}

.modal-outer.open {
    opacity: 1;
    pointer-events: all;
}

.modal-inner {
    max-width: 600px;
    min-width: 400px;
    padding: 2rem;
    border-radius: 5px;
    min-height: 200px;
    background: white;
    transform: translateY(-200%);
    transition: transform .5s;
    z-index: 99;
}

.modal-outer.open .modal-inner {
    transform: translateY(0);
}

body.modal-inner {
    height: 100vh;
    overflow-y: hidden;
}

.woocommerce-info {
    background-color: var(--primary) !important;
}

#opc-product-selection {
    display: none;
}

.button.alt {
    background-color: var(--salmon);
}

.default-padding,
.carousel-shadow {
    padding-bottom: 0px;
}

footer .footer-bottom p a {
    color: var(--primary);
}

.doctor-items .thumb,
.doctor-items .info a {
    position: relative;
    z-index: 0;
}

.about-area {
    z-index: 0;
}

.testimonials-area,
.doctors-area {
    position: relative;
    z-index: -1;
}

.owl-carousel {
    z-index: -1;
}

.chose-us-area .info ul,
.chose-us-area .info .heading {
    position: relative;
    z-index: 0;
}

@media only screen and (max-width: 600px) {

    h2,
    h2 span {
        font-size: 1.5em;
    }

    .modal-inner {
        max-height: calc(100% - 60px);
        overflow: scroll;
    }
}
